<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>雛形（ひな型） | Webサイトの利用規約（無料テンプレート・商用利用可）</title>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../css/common.css">
		<link rel="stylesheet" href="uniq.css">
    </head>
	
    <body>
        <header class="header">
			<div class="header-wrapper">
				<p class="logo"><a href=""><img src="../images/head_logo.gif" alt=""></a></p>
				<p class="home hover"><a href="../index.html"><img src="../images/nav_home.gif" alt=""></a></p>
			</div>
		</header>
        <main>
			<div class="wrapper">
				<article>
					<h1>キャンペーン応募規約の雛形（ひな型）</h1>
					<p>企業がおこなうSNS連動キャンペーン（例「ハッシュタグを付けて応募する」）などのベースとしてご利用いただくことを想定したひな形です。<br>
					ひな型のご利用前には、「<a href="">ご利用の際の注意事項</a>」をご確認ください。</p>
					<p class="date">このひな形の作成日：2017/11/6<br>
					このひな形の最終更新日：2019/1/12</p>
					<div class="box">
						<h1>キャンペーン応募規約</h1>
						<p>＿＿＿＿＿＿株式会社（以下「当社」といいます。）が実施する＿＿キャンペーン（以下，「本キャンペーン」といいます。）へ応募を希望される方は，この応募規約（以下，「本規約」といいます。）をよくお読みの上，同意される場合のみ応募してください。なお，本キャンペーンに応募された方は，本規約に同意したものとみなします。</p>
						<h2>第1条（適用）</h2>
						<p>本規約は，本キャンペーンの応募者（以下，「応募者」といいます。）と当社との間の本キャンペーンに関わる一切の関係に適用されます。</p>
						<h2>第2条（個人情報の提供）</h2>
						<p>本キャンペーンへの応募にあたり応募者の氏名や住所等を正確に提供して頂く必要がある場合，提供された内容の全部又は一部について，虚偽，誤記又は記載漏れがあった場合には，本キャンペーンの対象外とさせて頂くことがあります。</p>
						<h2>第3条（応募者の投稿やデータファイル）</h2>
						<ol>
							<li>応募者は，当社及び当社から本サービスを承継した第三者に対して，自らが本キャンペーンを通じてアップロードした投稿やデータファイルについて使用，複製，配布，他言語への翻訳を含む派生著作物の作成，表示及び実行に関する全世界的，無償，非独占的，サブライセンス可能かつ譲渡可能なライセンスを付与し，著作者人格権を行使しないことに同意したことになります。</li>
							<li>応募者は，他の応募者がアップロードした投稿やデータファイルを商用利用することはできません。</li>
						</ol>
						<h2>第4条（禁止事項）</h2>
						<p>本キャンペーンへの応募に際しては，以下の行為を禁止します。当社は，応募者が以下に該当する行為を行ったと判断した場合には，事前に通知することなく，本キャンペーンから当該応募者を対象外としたり、又はその投稿データを一次的に非掲載とし若しくは削除することがあります。</p>
						<ol>
							<li>本キャンペーンの運営を妨げる行為</li>
							<li>本規約に違反する行為</li>
							<li>他人に迷惑，不利益，損害，または不快感を与える行為</li>
							<li>他人を誹謗中傷し，またはその名誉もしくは信用を害する行為</li>
							<li>他人の著作権その他の知的財産権を侵害する行為</li>
							<li>他人の財産，プライバシーもしくは肖像権を侵害する行為</li>
							<li>営利を目的とした情報提供，広告宣伝もしくは勧誘行為</li>
							<li>公序良俗に反する行為</li>
							<li>応募に使用するSNSの利用規約その他各規定に違反する行為</li>
							<li>その他当社が相当でないと判断する行為</li>
						</ol>
						<h2>第5条（本サービスの提供の停止等）</h2>
						<ol>
							<li>当社は，以下のいずれかの事由があると判断した場合，応募者に事前に通知することなく本キャンペーンを中断または中止することがあります。
								<ol>
									<li>本サービス実施にかかるコンピュータシステムの保守点検または更新を行う場合</li>
									<li>地震，落雷，火災，停電または天災などの不可抗力により，本キャンペーンの実施が困難となった場合</li>
									<li>コンピュータまたは通信回線等が事故により停止した場合</li>
									<li>応募に使用するSNSのサービスが中断または中止した場合</li>
									<li>その他，当社が本キャンペーンの実施を困難と判断した場合</li>
								</ol>
							</li>
							<li>当社は，前項による本キャンペーンの中断または中止により，応募者が被った不利益または損害について，一切の責任を負わないものとします。</li>
						</ol>
						<h2>第6条（免責）</h2>
						<ol>
							<li>当社は，本キャンペーンに関連して生じた応募者の損害について，当社の故意または重大な過失がない限り，一切の責任を負わないものとします。</li>
							<li>当社は，本キャンペーンに関連して生じた応募者間または応募者と第三者の間におけるトラブルについて一切の責任を負わないものとします。</li>
						</ol>
						<h2>第7条（キャンペーン内容の変更等）</h2>
						<p>当社は，応募者に予告することなく，本キャンペーンの内容の一部または全部を変更し，もしくは本サービスの提供を中止することがあります。当社は，これによって応募者に生じた損害について一切の責任を負いません。</p>
						<h2>第8条（本規約の変更）</h2>
						<p>当社は，必要と判断した場合には，応募者に予告することなく，本規約を変更することができるものとします。</p>
						<h2>第9条（個人情報の取扱い）</h2>
						<ol>
							<li>本キャンペーンにあたってご提供いただいた個人情報は，以下の目的でのみ使用いたします。
								<ol>
									<li>当選者への賞品の発送</li>
									<li>上記に関する連絡</li>
									<li>商品やサービスの参考とするための個人を特定しない統計情報の形での利用</li>
								</ol>
							</li>
							<li>本キャンペーンにあたってご提供いただいた個人情報は，応募者ご本人の同意がある場合を除いて，第三者に提供されることはありません。ただし，法令の定めがある場合等，当社「プライバシーポリシー」にて定める事由がある場合を除きます。詳しくは当社「プライバシーポリシー」をご覧ください。</li>
						</ol>
						<h2>第10条（通知または連絡）</h2>
						<p>当社から応募者に対する通知または連絡は，当社の定める方法で行うものとし，応募者のメールアドレスの不備等により通知または連絡が到達しなかった場合には，本キャンペーンの対象外とさせて頂くことがあります。</p>
						<p class="end">以上</p>
					</div>
				</article>
				<aside>
					<p><a class="hinagata-img" href=""><img class="hinagata" src="https://kiyaku.jp/images/nav_hinagata.gif" alt=""></a></p>
					<ul>
						<li><a href="gp.html">汎用的な利用規約</a></li>
						<li><a href="campaign.html">キャンペーン応募要項用の利用規約</a></li>
						<li><a href="onlineshop.html">オンラインショップ用の利用規約</a></li>
						<li><a href="sns.html">掲示版・SNS系向きの利用規約</a></li>
						<li><a href="privacy.html">プライバシーポリシー</a></li>
						<li><a href="recruit.html">採用活動用：応募者の個人情報に関する取扱い方針</a></li>
					</ul>
					<p class="hover faq"><a href="../faq/index.html"><img src="../images/nav_hinagata_faq.gif" alt=""></a></p>
					<p class="hover message"><a href="../lawyer/index.html"><img src="../images/nav_hinagata_bengoshi.gif" alt=""></a></p>
					<p class="hover consul"><a href=""><img src="../images/nav_hinagata_contact.gif" alt=""></a></p>
				</aside>
			</div>
			
		</main>
        <footer class="footer">
			<div class="footer-wrapper">
				<div class="footer-wrapper-min upper">
					<ul>
						<li><a href="">このサイトについて</a></li>
						<li><a class="icon" href="">個人情報保護方針</a></li>
					</ul>
				</div>
				<div class="footer-wrapper-min lower">
					<ul>

						<li><a class="icon" href="">ホームページの作り方</a></li>
						<li><a class="icon" href="">教授の授業</a></li>
						<li><a class="icon" href="">体温・検温の記録などに。無料のグラフ作成：Graph= （グラフニ）</a></li>	
					</ul>
				</div>
				<p><a href=""><img src="../images/contents-an.gif" alt=""></a></p>
			</div>
        </footer>
    </body>
</html>











