<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>雛形（ひな型） | Webサイトの利用規約（無料テンプレート・商用利用可）</title>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../css/common.css">
		<link rel="stylesheet" href="main.css">
    </head>
	
    <body>
        <header class="header">
			<div class="header-wrapper">
				<p class="logo"><a href=""><img src="../images/head_logo.gif" alt=""></a></p>
				<p class="home hover"><a href="../index.html"><img src="../images/nav_home.gif" alt=""></a></p>
			</div>
		</header>
        <main>
			<div class="wrapper">
				<article>
					<h1>雛形（ひな型）</h1>
					<p>Webサイト用の「利用規約」「プライバシーポリシー」のひな型を掲載しています。「<a href="#">ご利用の際の注意事項</a>」をご確認いただき、適用したいWebサイトのサービスに合わせて、必要な箇所を修正し、ご活用ください。</p>
					<ul>
						<li>個人利用・商用利用を問わず自由にご利用いただけます。</li>
						<li>コピー＆ペースト（コピペ）・編集・改編は自由です。</li>
						<li>ご利用前の申請や事後報告は不要です。</li>
					</ul>
					<h2>現在公開中のひな型</h2>
					<ul>
						<li><a href="gp.html">汎用的な利用規約のひな型</a><br>
							必要最小限に絞った利用規約です。</li>
						<li><a href="campaign.html">キャンペーン応募要項用向きの利用規約のひな型</a><br>
						企業がおこなうSNS連動キャンペーン（例「ハッシュタグを付けて応募する」）などのベースとしてご利用いただくことを想定したひな形です。</li>
						<li><a href="onlineshop.html">オンラインショップ向きの利用規約のひな型</a></li>
						<li><a href="sns.html">掲示版・SNS系向きの利用規約のひな型</a></li>
						<li><a href="privacy.html">プライバシーポリシーのひな型</a></li>
						<li><a href="recruit.html">採用活動向き：応募者の個人情報に関する取扱い方針</a></li>
					</ul>
					<p>※ユーザー登録が必要でないWebサービス向きの利用規約のひな型はございません。（参考：Q&Aの<a href="">Q1</a>、<a href="">Q7</a>）</p>
					<h2>ご利用の際の注意事項</h2>
					<p>このサイトで配布しているひな型は、あくまでも一例となっておりますので、適用するWebサイトやサービスの実態と異なる箇所や、不足している内容は、適切に追加・修正・削除してご利用ください。閲覧するタイミングによっては、関連する法令等が適切に反映されていない場合もありますのでご了承ください。不安な場合は、法律の専門家に相談をすることもお勧めします。なお次の2点は空欄になっていますのでご注意ください。</p>
					<ul>
						<li>各ひな型の冒頭にある社名は空欄（＿＿＿＿＿）になっていますので、記述してください。</li>
						<li>ひな型の最後にある「第#条（お問い合わせ窓口）」の各項目は、空欄になっていますので、記述してください。</li>
					</ul>
					<p>利用規約は、掲載するだけでは、宣言しているだけになってしまいます。必ず、ユーザーが、「同意」の意思表示を行うことのできる仕組みを構築してご利用ください。（参考：Q&Aの<a href="">Q1</a>、<a href="">Q7</a>）</p>
				</article>
				<aside>
					<p><a class="hinagata-img" href=""><img class="hinagata" src="../images/nav_hinagata_act.gif" alt=""></a></p>
					<ul>
						<li><a href="gp.html">汎用的な利用規約</a></li>
						<li><a href="campaign.html">キャンペーン応募要項用の利用規約</a></li>
						<li><a href="onlineshop.html">オンラインショップ用の利用規約</a></li>
						<li><a href="sns.html">掲示版・SNS系向きの利用規約</a></li>
						<li><a href="privacy.html">プライバシーポリシー</a></li>
						<li><a href="recruit.html">採用活動用：応募者の個人情報に関する取扱い方針</a></li>
					</ul>
					<p class="hover faq"><a href="../faq/index.html"><img src="../images/nav_hinagata_faq.gif" alt=""></a></p>
					<p class="hover message"><a href="../lawyer/index.html"><img src="../images/nav_hinagata_bengoshi.gif" alt=""></a></p>
					<p class="hover consul"><a href=""><img src="../images/nav_hinagata_contact.gif" alt=""></a></p>
				</aside>
			</div>
			
		</main>
        <footer class="footer">
			<div class="footer-wrapper">
				<div class="footer-wrapper-min upper">
					<ul>
						<li><a href="">このサイトについて</a></li>
						<li><a class="icon" href="">個人情報保護方針</a></li>
					</ul>
				</div>
				<div class="footer-wrapper-min lower">
					<ul>

						<li><a class="icon" href="">ホームページの作り方</a></li>
						<li><a class="icon" href="">教授の授業</a></li>
						<li><a class="icon" href="">体温・検温の記録などに。無料のグラフ作成：Graph= （グラフニ）</a></li>	
					</ul>
				</div>
				<p><a href=""><img src="../images/contents-an.gif" alt=""></a></p>
			</div>
        </footer>
    </body>
</html>











