<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>掲示版・SNS系向きの利用規約の雛形（ひな型） | Webサイトの利用規約（無料テンプレート・商用利用可）</title>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="../css/common.css">
		<link rel="stylesheet" href="uniq.css">
	</head>
	
    <body>
        <header class="header">
			<div class="header-wrapper">
				<p class="logo"><a href=""><img src="../images/head_logo.gif" alt=""></a></p>
				<p class="home hover"><a href="../index.html"><img src="../images/nav_home.gif" alt=""></a></p>
			</div>
		</header>
        <main>
			<div class="wrapper">
				<article>
					<h1>応募者の個人情報に関する取扱い方針の雛形（ひな型）</h1>
					<p>ひな型のご利用前には、「<a href="">ご利用の際の注意事項</a>」をご確認ください。</p>
					<p class="date">このひな形の作成日：2017/11/6<br>
					このひな形の最終更新日：2019/1/12</p>
					<div class="box">
						<h1>応募者の個人情報に関する取扱い方針</h1>
						<p>＿＿＿＿＿（以下，「当社」といいます。）は，応募者の個人情報を，以下の取扱い方針（以下,「本方針」といいます。）及び個人情報の管理について定める当社「プライバシーポリシー」に基づき，適切に管理・運用致します。当社求人へのご応募にあたっては,本方針及び「プライバシーポリシー」をよくお読みになり,これらへ同意して頂く必要があります。</p>

						<h2>第1条（個人情報の利用目的）</h2>
						<p>ご応募にあたってご提供頂いた個人情報は，以下の目的のためにのみ利用致します。</p>
						<ol>
						<li>採用選考時の判断</li>
						<li>応募者の方へのご連絡</li>
						<li>採用後の人事・労務業務における使用</li>
						</ol>

						<h2>第2条（書類・電子データの取扱い）</h2>
						<ol>
						<li>ご応募にあたってご提供頂いた書類は,採用又は不採用のいずれの場合であっても返却することはできません。</li>
						<li>ご応募にあたってご提供頂いた書類ないし電子データは,当社にて適切に管理し,しかるべき時に破棄・消去（破棄等）致します。当社は,応募者に対し,当該書類ないし電子データの保管又は破棄等のいずれの義務も負わないものとします。</li>
						</ol>

						<h2>第3条（適用除外）</h2>
						<p>当社求人へのご応募の体裁をとるものであっても,その内容がこれにあたらない場合,本方針の対象外となります。</p>

						<h2>第4条（個人情報を提供いただけない場合の取扱い）</h2>
						<p>当社が指定する個人情報をご提供いただけない場合，当社求人へご応募頂くことはできません。</p>

						<h2>第5条（お問い合わせ）</h2>
						<p>ご応募に関するお問い合わせは,次の当社担当までご連絡ください。</p>
						<p>担当　○○<br>
						連絡先　○○</p>
						<p class="tR">以上 </p>
					</div>
				</article>
				<aside>
					<p><a class="hinagata-img" href=""><img class="hinagata" src="https://kiyaku.jp/images/nav_hinagata.gif" alt=""></a></p>
					<ul>
						<li><a href="gp.html">汎用的な利用規約</a></li>
						<li><a href="campaign.html">キャンペーン応募要項用の利用規約</a></li>
						<li><a href="onlineshop.html">オンラインショップ用の利用規約</a></li>
						<li><a href="sns.html">掲示版・SNS系向きの利用規約</a></li>
						<li><a href="privacy.html">プライバシーポリシー</a></li>
						<li><a href="recruit.html">採用活動用：応募者の個人情報に関する取扱い方針</a></li>
					</ul>
					<p class="hover faq"><a href="../faq/index.html"><img src="../images/nav_hinagata_faq.gif" alt=""></a></p>
					<p class="hover message"><a href="../lawyer/index.html"><img src="../images/nav_hinagata_bengoshi.gif" alt=""></a></p>
					<p class="hover consul"><a href=""><img src="../images/nav_hinagata_contact.gif" alt=""></a></p>
				</aside>
			</div>
			
		</main>
        <footer class="footer">
			<div class="footer-wrapper">
				<div class="footer-wrapper-min upper">
					<ul>
						<li><a href="">このサイトについて</a></li>
						<li><a class="icon" href="">個人情報保護方針</a></li>
					</ul>
				</div>
				<div class="footer-wrapper-min lower">
					<ul>

						<li><a class="icon" href="">ホームページの作り方</a></li>
						<li><a class="icon" href="">教授の授業</a></li>
						<li><a class="icon" href="">体温・検温の記録などに。無料のグラフ作成：Graph= （グラフニ）</a></li>	
					</ul>
				</div>
				<p><a href=""><img src="../images/contents-an.gif" alt=""></a></p>
			</div>
        </footer>
    </body>
</html>











